* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px;
}

.productContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.productImage {
  width: 100%;
  padding: 10px;
}

.actions {
  display: flex;
  align-items: center;
}


.btn {
  width: 70px;
  padding: 10px;
  cursor: pointer;
}

.btn[disabled]{
  cursor: not-allowed;
}

.amount {
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ddd;
  text-align: center;
}

.btn-buy{
  background-color: rgb(38, 211, 72);
  color: aliceblue;
}

.basketContainer{
  background-color: rgb(30, 143, 47);
  color: #ddd;
  width: 300px;
  padding: 20px;
  gap: 5px;
  margin-bottom: 50px;
}

.basketProduct{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  gap: 30px;
}

.displayNone{
  display: none;
}
.totalPrize{
  float: right;
}